@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --input-color: #A9AFB9;
    --font-family1: 'Poppins', sans-serif, arial;
    --font-family2: 'Roboto', sans-serif, arial;
}

body {
    background-color: var(--background);
    display: flex;
    min-height: 100vh;
}

#logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

section {
    display: flex;
    gap: 2rem;
}

#login {
    width: 25vw;
    height: 50vh;
    background-color: var(--form-background);
    flex: 1;
    padding: 70px;
    position: absolute;
    left: 13%;
    top: 23%;
    
}

label#remember input {
    padding-bottom: 5px;
}

label#remember a{
    color: var(--primary-color);
    text-decoration: none;

}

.image {
    position: absolute;
    right: 0;
    width: 1200px;
    height: 969px;
    background-image: url(./images/side-image-2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    
}

#car {
    width: 50vw;
    height: 99vh;
    
}

section div h1 img {
    width: 2rem;
    height: 2rem;
}

section div h1 {
    color: var(--text-title);
    font-family: var(--font-family1);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    
}

section div p {
    color: var(--text-base);
    font-family: var(--font-family2);
    font-size: 16px;
    font-weight: bold;
    line-height: 4;
}



label {
    color: var(--text-base);
    font-family: var(--font-family1);
    font-size: 16px;
    font-weight: bold;
}

/*------------------INPUT----------------*/

input#email {
    width: 100%;
    height: 30px;
    background-image: url(images/mail.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3rem;
    padding: 0.2rem 1.6rem 0.3rem 1.6rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: var(--text-title);
}

input#email::placeholder {
    font-family: var(--font-family2);
    color: var(--input-color);
    font-weight: bolder;
    
}

input#password {
    width: 100%;
    height: 30px;
    background-image: url(images/lock.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3rem;
    padding: 0.2rem 1.6rem 0.3rem ;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: var(--text-title);
}

input#password::placeholder {
    font-family: var(--font-family2);
    color: var(--input-color);
    font-weight: bolder;
    
    
}

/*input#password {
    background-image: url(images/eye.svg);
    background-position: right;
}*/



/*------------------INPUT----------------*/

button {
    width: 100%;
    height: 50px;
    color: #473404;
    background-color: var(--primary-color);
    font-family: var(--font-family1);
    font-weight: bolder;
    font-size: 18px;    
    border-radius: 6px;
}